.Meet_Wrapper {
  max-width: 100vw;
  height: 100vh;
  padding: 2em;
  background-color: #17252a;

  .Meet_callContainer {
    padding: 2em;
    max-width: 100vw;
    min-height: 100%;
    background-color: #202124;
    border-radius: 10px;
  }
}
