$tablet-width: 600px;
$desktop-width: 1366px;

.landing_wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(23, 37, 42, 1);
  color: white;

  .landing_container {
    display: flex;
    width: 100%;
    height: 85%;

    .landing_poster {
      width: 80%;
      display: inline-flex;
      justify-items: center;
      align-items: center;
    }

    .login_container {
      width: auto;
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 900px) {
  .landing_container {
    display: grid;
    place-items: center;
    flex-direction: column-reverse;

    .login_container {
      width: 100%;
      text-align: justify;
    }
  }
}

@media (max-width: 600px) {
  .landing_poster {
    display: grid;
  }
  .login_container {
    margin: 1vw;
    width: 100vw;
  }
}
