._signup_page_wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(23, 37, 42, 1);
  color: white;

  ._signup_page_container {
    display: flex;
    width: 100%;
    height: 85%;

    ._signup_poster {
      width: 80%;
      display: inline-flex;
      justify-items: center;
      align-items: center;
    }

    ._signup_container {
      width: auto;
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 900px) {
  ._signup_page_container {
    display: grid;
    place-items: center;
    flex-direction: column-reverse;
    ._signup_container {
      width: 100%;
      text-align: justify;
    }
  }
}

@media (max-width: 600px) {
  ._signup_poster {
    display: grid;
  }
  ._signup_container {
    margin-bottom: 10vw;
    width: 100vw;
  }
}
