.sticky-footer {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding-top: 30px;
  height: 75px;
  background-color: #17252a;
  clip-path: ellipse(93% 100% at 31.08% 100%);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
