body,html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Quicksand', sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: #17252a;
}

*::-webkit-scrollbar-thumb {
  background: #807b7b;
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: #3aafa9;
}
